<head>
    <link rel="stylesheet" href="/GoogleStore/src/layouts/style1.css">
</head>

<footer>
    <nav class="foot-menu">
        <ul class="foot-menu__list">
        <li class="foot-menu__list__icons" id="twitter"><a href="https://x.com/Google"><img src="/GoogleStore/src/views/img/SM-x.svg" alt=""></a></li>
        <li class="foot-menu__list__icons"><a href="https://www.instagram.com/google/"><img src="/GoogleStore/src/views/img/SM-instagram.svg" alt=""></a></li>
        <li class="foot-menu__list__icons"><a href="https://www.facebook.com/Google/?locale=es_ES"><img src="/GoogleStore/src/views/img/SM-facebook.svg" alt=""></a></li>
        <li class="foot-menu__list__icons"><a href="https://youtube.com/@googleespana?si=iAqllBmtXX5ya-yq"><img src="/GoogleStore/src/views/img/SM-youtube.svg" alt=""></a></li>
        <li class="foot-menu__list__icons"><a href="https://www.tiktok.com/@google?lang=e"><img src="/GoogleStore/src/views/img/SM-tiktok.svg" alt=""></a></li>
        </ul>
                             
        
        <ul class="foot-menu__list foot-menu__service"> 
        <li class="foot-menu__list__items" id="spain"><a href="https://store.google.com/es/regionpicker?hl=es"></a><img src="/GoogleStore/src/views/img/Spain.svg" alt="">&nbspSpain</a></li>
        <li class="foot-menu__list__items"><a href="https://policies.google.com/privacy">Privacy</a></li>
        <li class="foot-menu__list__items"><a href="https://safety.google/intl/es/nest/">Google&nbspNext&nbspCommitment</a></li>
        <li class="foot-menu__list__items"><a href="https://store.google.com/intl/es_es/about/device-terms/">Sales&nbspTerms</a></li>
        <li class="foot-menu__list__items"><a href="https://policies.google.com/terms?hl=es&gl=es">Terms&nbspof&nbspService</a></li>
        </ul>
        
    </nav>
</footer>