<head>
    <link rel="stylesheet" href="/GoogleStore/src/layouts/style1.css" />
</head>

<header>
    <nav class="menu">
                <ul class="menu__list">
                    <a href="/GoogleStore/src/views/index.html"><img src="/GoogleStore/src/views/img/google-logo.png" alt="logo" class="menu__list__logo"></a>
                    <li class="menu__list__items"><a href="/GoogleStore/src/views/Phone/phone-view.html">Phones</a></li>
                    <li class="menu__list__items"><a href="/GoogleStore/src/views/Earbuds/earbuds-view.html">Earbuds</a></li>
                    <li class="menu__list__items"><a href="/GoogleStore/src/views/Watch/watch-view.html">Watches</a></li>
                    <li class="menu__list__items"><a href="/GoogleStore/src/views/Tablet/tablet-view.html">Smart&nbspHome</a> </li>
                    <li class="menu__list__items"><a href="">Accessories</a></li>
                    <li class="menu__list__items"><a href="">Subscriptions</a></li>
                </ul> 

                <ul class="menu__icons"> 
                    <li class="menu__icons__right"><img src="/GoogleStore/src/views/img/Search.svg" alt="search"></li>
                    <li class="menu__icons__right"><img src="/GoogleStore/src/views/img/Help.svg" alt=""></li>
                    <li class="menu__icons__right"><img class="carrito-img" src="/GoogleStore/src/views/img/Cart.svg" alt=""><span class="badge badge-danger" id="contador" hidden></span></li>
                    <li class="menu__icons__right"><a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dgoogle%2Bstore%26rlz%3D1C1CHBD_esES827ES827%26oq%3Dgoogle%26gs_lcrp%3DEgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGDsyBggCEEUYOzIGCAMQRRg5MgYIBBBFGDwyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQc3ODRqMGoxqAIAsAIA%26sourceid%3Dchrome%26ie%3DUTF-8&ec=GAZAAQ&hl=es&ifkv=AcMMx-df4ZAuXdmLZQIv7RyHHq8NVinaV0Tc8kC-ITqdDZaj5bFonuR5ZbID5o-w_u5deFkVoL6QnQ&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S2033801376%3A1733804560788978&ddm=1"><img src="/GoogleStore/src/views/img/Avatar.svg" alt=""></a></li>
                    <li class="menu__icons__right"><a href=""><img id="hamburguer" src="/GoogleStore/src/views/img/menu-icon.png" alt=""></a></li>
                   </ul>
    </nav>
</header>