* {
    list-style: none;
    font-family: "Inter", sans-serif;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list__logo {
    height: auto;
    width: 50px;
}
.menu__list {
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
}
.menu__icons {
    display: flex;
    padding-right: 40px;
}
.menu__icons > li{
    padding: 15px;
}
.menu__icons__right {
    display: flex;
    position: relative;
}
.foot-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #f8f9fa;
}
.foot-menu__list {
    display: flex;
    position: sticky;
    gap: 15px;
    font-size: 8px;
}
a:not(:hover) {
    color: #57626b;
    text-decoration: none;
}
a:hover {
    color: #1a73e8;
    text-decoration: none;
}

.carrito-img {
    position: relative;
    display: inline-block;
    z-index: 1;
}
#contador {
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 2px;
    background-color: rgb(223, 33, 33);
    border: 1px solid white;
    border-color: white;
    color: white;
    text-align: center;
    border-radius: 13px;
    height: 17px;
    width: 21px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
}
#contador[hidden] {
    display: none;
}