<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Store</title>
    <link rel="stylesheet" href="earbuds-view.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/layouts/style1.css">
    <link rel="icon" href="https://www.gstatic.com/store/images/favicons/favicon_gstore_48px_new.png" sizes="50x50px" type="img/png">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="./earbuds.js"></script>
    
   <script>
      $(function() {
         $("#includeHeader").load("/GoogleStore/src/layouts/nav-bar.html");
      });
   </script>
   <script>$(function() {
    $("#includeFooter").load("/GoogleStore/src/layouts/footer.html");
 });
</script>
</head>
<body>
  <header id="includeHeader"></header> 
  <main>
    <section class="main-section">
        <section class="main-section__arrow">
            <div class="main-section__arrow__img">
                <img src="/GoogleStore/src/views/img/Arrow.svg" alt="Arrow">
                <p>See product details</p>
            </div>
        </section>
        <section class="main-section__center">
            <section class="left-section">
                <div class="left-section__wrapper">
        
        
                    <div class="left-section__container">
                        <nav class="left-section__nav">
                            <ul class="left-section__bubbles">
                                <li>
                                    <img src="/GoogleStore/src/views/img/aur_azul_gen2.PNG" class="left-section__bubbles__img"
                                        alt="Vista previa 1" />
                                </li>
                                <li>
                                    <img src="/GoogleStore/src/views/img/azul_front.PNG" class="left-section__bubbles__img"
                                        alt="Vista previa 2" />
                                </li>
                                <li>
                                    <img src="/GoogleStore/src/views/img/azul_side.PNG" class="left-section__bubbles__img"
                                        alt="Vista previa 3" />
                                </li>
                                <li>
                                    <img src="/GoogleStore/src/views/img/azul_aur.PNG" class="left-section__bubbles__img"
                                        alt="Vista previa 4" />
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="left-section__product">
                        <div class="left-section__product__bg"><img class="left-section__img"
                                src="/GoogleStore/src/views/img/aur_azul_gen2.PNG" alt="Earbuds azul"></div>
        
                    </div>
                </div>
            </section>
            <section class="scroll-section"></section>
            <section class="right-section">
                <section class="text-section">
                    <h1>Google Pixel Buds Pro</h1>
                    <p>
                        <div>Music & Sound
                        </div>
                        <div>
                            <h3>229€</h3>
                        </div>
                    </p>
                </section>

            <section class="colors-section">
                <section class="colors-section__options">
                    <section class="colors-section__wrapper">
                        <h2>Choose a color</h2>
                        <div class="right-section__colors">
                        <button class="right-section__colors__options"  data-color="blue" style="background-color: #9ec6ea"></button>
                        <button class="right-section__colors__options"  data-color="warm" style="background-color: #efebe8"></button>
                        <button class="right-section__colors__options"  data-color="obsidian" style="background-color: #363535"></button>
                        <button class="right-section__colors__options"  data-color="grey" style="background-color: #d2d7da"></button>
                        <button class="right-section__colors__options"  data-color="green" style="background-color: #d7ead7"></button>
                        <button class="right-section__colors__options"  data-color="orange" style="background-color: #d28860"></button>            
                        </div>
                    </section>
                    </section>
                </section>
                <section>
                    <div class="right-section__shipping">
                        <h2>229€</h2>
                        <hr />
                        <div class="right-section__shipping__cart">
                          <input class="right-section__shipping__cart__input" type="number" value="0" min="0" max="1">
                          <button class="right-section__shipping__cart__button"> Add to Cart</button>
                        </div>
                        <div class="right-section__shipping__date">
                          <img src="/GoogleStore/src/views/img/Delivery.svg" alt="Delivery"> <p>Deliver 29 Apr to</p> <form id="postalCodeForm">
                            <input type="text" id="postalCode" placeholder="08023" minlength="5" maxlength="5" required>
                          </form><p id="output"></p>
                        </div>
                        
                      </div>
                </section>
            </section>
        </section>
    </section>  
            </section>

    </section>
  </main>
  <footer id="includeFooter"></footer> 