<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Store</title>
  <link rel="stylesheet" href="watch-view.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/src/layouts/style1.css">
  <link rel="icon" href="https://www.gstatic.com/store/images/favicons/favicon_gstore_48px_new.png" sizes="50x50px"
    type="img/png">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="./watch.js"></script>

  <script>
    $(function () {
      $("#includeHeader").load("/GoogleStore/src/layouts/nav-bar.html");
    });
  </script>
  <script>$(function () {
      $("#includeFooter").load("/GoogleStore/src/layouts/footer.html");
    });
  </script>
</head>

<body>
  <header id="includeHeader"></header>
  <main>
<img src="/GoogleStore/src/views/img/home.PNG" alt="Foto inicio">
  </main>
  <footer id="includeFooter"></footer>